<footer>
  <div class="col-xs-12" style="height:30px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-6 copyright">&copy; Toan Nguyen 2017-2020</div>
      <div class="col-6 social">
        <a id="gototop" href="#" ><span class="fa fa-arrow-up"></span></a>
      </div>
    </row>
  </div>
  <div class="col-xs-12" style="height:30px;"></div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

{% for script in page.abs-scripts %}
<script src="{{script}}"></script>
{% endfor %}
{% for script in page.scripts %}
<script src="{{site.url}}{{site.baseurl}}/assets/js/{{script}}"></script>
{% endfor %}

<script>
 $("#bars-icon").on("click", function() {
     $("#mobile-nav").toggleClass("open");
 });

 $("#gototop").click(function() {
   $("html, body").animate({ scrollTop: 0 }, "slow");
   return false;
 });
</script>
