<header>

  <div class="header-area hidden-xs-down">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-12">
          <a href="/">
            <div class="logo">
              <img class="logo-header" src="{{ site.baseurl }}/assets/imgs/tn_logo_full.png" alt="Toan Nguyen logo">
            </div>
          </a>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-9 hidden-xs">
          <div class="mainmenu">
            <nav>
              <ul id="nav">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/work">Work</a></li>
                <li><a href="{{ site.baseurl }}/publication">Publication</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-nav-area hidden-sm-up">
    <a href="/">
      <div class="logo">
        <img class="logo-header-mobile" src="{{ site.baseurl }}/assets/imgs/tn_logo_full.png" alt="Toan Nguyen logo">
      </div>
    </a>
    <div class="container">
      <div class="row bars-area">
        <span id="bars-icon"><i class="fa fa-bars fa-2x"></i></span>
      </div>

      <nav id="mobile-nav">
        <ul>
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/work">Work</a></li>
          <li><a href="{{ site.baseurl }}/publication">Publication</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

</header>
