/*----------------------------------------*/
/*  General
/*----------------------------------------*/
.section-header-dark {
	padding: 40px 30px 0 0;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	color: #41505C;
	font-family: "Helvetica Neue",Arial,sans-serif;
}
.section-header-light {
	padding: 40px 30px 0 0;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 700;
	color: #d82c2e;
	font-family: "Helvetica Neue",Arial,sans-serif;
}
.section-background-dark {
	background-color: #f7f8f8;
}
.text-block-dark {
	padding: 0px 0;
	font-weight: 600;
	color: #777;
}
blockquote {
	display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
	color: #777;
	/*
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
	*/

  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}
blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 50px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:25px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

/*----------------------------------------*/
/*  Header Area
/*----------------------------------------*/
.logo-header {
	vertical-align: center;
	padding-top: 8px;
}
.logo-header-mobile {
	max-width: 100px;
}
.header-area {
  background: transparent none repeat scroll 0 0;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.intro-area {
  overflow: hidden;
  padding: 220px 0px;
  width: 100%;
}
.logo {
  display: block;
  padding: 14px 0;
}
.logo a {
  display: inline-block;
  padding: 11px 0;
}
.mainmenu{
    float: right;
}
.mainmenu ul#nav>li {
  float: left;
  position: relative;
}
.mainmenu ul#nav > li > a {
  box-sizing: border-box;
  color: #252525;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.mainmenu ul#nav >li:hover>a {
    color: #777;
}
#section-intro {
    background: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    height: 100vh;
    position: relative;
    text-align: left;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
	/*background-color: #eee;*/
  background-image: url('');
}

/*----------------------------------------*/
/*  Mobile Menu Area
/*----------------------------------------*/
.mobile-nav-area {
  background: #f9f9f9 none repeat scroll 0 0;
  left: 0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.mobile-nav-area li a {
	display: block;
	text-align: center;
	padding: 10px;
	color: #333;
	border-top: 1px solid #eee;
}
.mobile-nav-area li a:hover {
	color: #777;
}
.bars-area {
	width: 100%;
	height: 40px;
	/*background: url(../imgs/mobile-menu-button.png) no-repeat 98% center;
	cursor: pointer;*/
}
#bars-icon {
	cursor:pointer;
	width: 100%;
	text-align: right;
}
#mobile-nav {
	height: 0px;
	overflow: hidden;
}
#mobile-nav.open {
	height: auto;
}

/*----------------------------------------
Intro content
----------------------------------------*/
.intro-content h1 {
	font-size: 50px;
	padding-bottom: 30px;
	letter-spacing: 2px;
}
.intro-content h2 {
	font-size: 25px;
	padding: 5px 30px;
	color: #777;
}
.intro-content .contact {
	color: #333;
	padding: 20px;
}
.intro-content a {
	color: #333;
	text-decoration: none;
}
.intro-content a:hover {
	color: #777;
}
.intro-content ul li {
	display: inline;
	color: #333;
}
.intro-content ul {
	padding-top: 30px;
}
.contact-icon {
	padding-left: 10px;
	padding-right: 5px;
}

/*----------------------------------------
Skill & award sections
----------------------------------------*/
#section-skills h2 {
	padding-top: 15px;
	font-size: 18px;
	color: #777;
}
#section-skills li {
	color: #555;
}
#skill-chart {
	width: 100%;
	height: 100%;
	min-height: 350px;
}
#section-award li {
	padding: 2px 0	;
	font-weight: 600;
	color: #777;
}

/*----------------------------------------*/
/*  Footer
/*----------------------------------------*/
footer {
	background-color: #bbb;
	color: #fff;
}
.copyright {
	/*padding-top: 10px;*/
}
.social {
	text-align: right;
}
#gototop {
}
/*----------------------------------------*/
/*  Filters
/*----------------------------------------*/
#filters {
	margin:0;
	padding-bottom: 10px;
	list-style:none;
}

#filters li {
	float:left;
}

#filters li span {
	display: block;
	padding:5px 20px;
	text-decoration:none;
	color:#666;
	cursor: pointer;
	font-weight: bold;
}
.mixitup-control-active {
  background: #e95a44;
	color: #fff !important;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}

/*----------------------------------------*/
/*  Publication
/*----------------------------------------*/
.paper-container li {
	padding: 4px 0px;
	font-weight: 500;
	color: #555;
}
.paper-container li b {
	padding: 4px 0px;
	font-weight: 600;
	color: #555;
}
.paper-container li i {
	padding: 4px 0px;
	font-weight: 500;
	color: #555;
	font-style: italic;
}
.paper-container h2 {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #333;
	font-weight: 600;
}
.hide {
	opacity: 0;
}


/*----------------------------------------*/
/*  Work
/*----------------------------------------*/
/* http://www.menucool.com/ui/responsive-image-grid-with-hover-effect */
#rig {
    /*max-width:900px;*/
    width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    /*background-color:#000;*/
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    margin:0px 10px 10px 0px;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*background: #3DC0F1 url(img/link.png) no-repeat center 20%;*/
    background: #3DC0F1;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    /*padding:0 20px;*/
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:left;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    /*top:80%;*/
		bottom: -44px;
    color:white;
    opacity:0.8;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(0px);
    transition:all .3s;
		text-align: center;
}
.rig-text h2 {
  font-size:14px;
  text-transform:uppercase;
  /*color: #d82c2e;*/
	color: #fff;
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
	background-color: rgba(0,0,0,0.2);
}
.rig-text p {
  font-size:12px;
  opacity: 0;
  color: #fff;
}
#rig li:hover .rig-text {
    transform:translateY(-44px);
    opacity:1.0;
}
#rig li:hover .rig-text p {
    opacity:1.0;
}
#rig li:hover .rig-text h2 {
    color: #fff600;
		text-shadow: 0 0 0;
		background-color: rgba(0,0,0,0);
}

@media (max-width: 9000px) {
    #rig li {
        width:50%;
    }
}

@media (max-width: 769px) {
    #rig li {
        width:100%;
    }
}

/*----------------------------------------*/
/*  Contact
/*----------------------------------------*/
#contact-form input::-webkit-input-placeholder {color:#aaa;}
#contact-form input::-moz-placeholder {color:#aaa;}
#contact-form input::-moz-placeholder {color:#aaa;}
#contact-form input::-ms-input-placeholder {color:#aaa;}
#contact-form textarea::-webkit-input-placeholder {color:#aaa;}
#contact-form textarea::-moz-placeholder {color:#aaa;}
#contact-form textarea::-moz-placeholder {color:#aaa;}
#contact-form textarea::-ms-input-placeholder {color:#aaa;}

#contact2 {
	padding-left: 5%;
}
#contact2 h2{
	padding: 0px 20px 0 0;
	font-size: 20px;
	font-weight: bold;
}
#contact2 .contact-social {
	padding: 0 20px 10px 10px;
}
#contact2 li {
	color: #41505C;
	font-weight: bold;
	padding: 4px 0;
}
#contact2 a {
	text-decoration: none;
	color: #41505C;
	font-weight: bold;
}

/*----------------------------------------*/
/*  project
/*----------------------------------------*/
.project {
	.title {
		border-bottom: 2px solid #ddd;
	}
	b, strong {
		font-weight: bold;
	}
	h1 {
		padding-bottom: 10px;
	}
	h2 {
		padding: 8px 0;
		font-size: 18px;
		font-weight: bold;
		color: #555;
	}
	h3 {
		color: #555;
		font-size: 14px;
		padding: 5px 0;
	}
	li {
		list-style-type: circle;
		color: #555;
	}
	ul {
		padding-bottom: 15px;
		padding-left: 20px;
	}
	.image-center {
		padding: 4px 0;
		margin: 0 auto;
    display: block;
	}
	.caption {
		font-size: 12px;
		padding-bottom: 4px;
		color: #555;
		text-align: center;
		font-weight: bold;
	}
	.footnote {
		font-size: 11px;
		font-weight: bold;
		padding: 2px 0;
	}
	sup {
		font-size: 9px;
	}
}

/*----------------------------------------*/
/*  404
/*----------------------------------------*/
.page404 {
	text-align: center;
}
.page404 {
	h1 {
		font-size: 80px;
		font-weight: 100;
		padding: 20px 0;
	}
	h2 {
		color: rgba(0,0,0,0.5);
		line-height: 1.6;
		font-weight: bold;
		padding-bottom: 40px;
		font-size: 30px;
	}
	h3 {
		color: #777;
		font-weight: bold;
		font-size: 20px;
		line-height: 2;
	}
}
