<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="col-xs-12" style="height:120px;"></div>

    <div class="container project">

      <h1 class="section-header-dark title">{{ page.title }}</h1>

      <div class="col-xs-12" style="height:20px;"></div>

      {{ content }}

      <div class="col-xs-12" style="height:40px;"></div>

    </div>

    {% include footer.html %}

  </body>

</html>
